bf_iejoin.py
iejoin_func.py
modified_omj.py
venv/
debugging.ipynb
data/
genai/
.env

# A project in process...
Project_Finloop17/practice.ipynb
Project_Finloop17/venv/
Project_Finloop17/data/
Project_Finloop17/.env/
Working/*